@use "../../styles/styles.scss" as *;
@use "../../styles/partials/mixins" as *;

.currency {
  &__title,
  &__ticker,
  &__price,
  &__priceChange,
  &__percentage {
    color: $coin;
  }
  &__container {
    padding-top: 25px;
    border-bottom: 1px solid $border;
  }
  &__card {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: $border;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: stretch;
    }

    &:hover {
      filter: drop-shadow(2px 4px 6px black);
      background-color: $grey;
      border-radius: 40px;
      cursor: pointer;
      transition: ease-out 0.3s;
    }
  }
  &__container1 {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-right: 8px;
  }

  &__img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  &__title {
    font-size: rem(16px);
    width: 150px;
  }
  &__container2 {
    align-items: flex-start;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    width: 70%;
    @include desktop {
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  &__mobile {
    display: flex;
    line-height: 1.5;
    @include tablet {
      justify-content: space-between;
      width: 50%;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__mobileOnly {
    padding-top: 8px;
    color: $coin;
    @include desktop {
      display: none;
    }
  }
  &__name {
    line-height: 1.5;
  }
  &__red {
    color: $red;
  }
  &__green {
    color: $green;
  }
}
