@use "../../styles/styles.scss" as *;
@use "../../styles/partials/mixins" as *;

.NewsFeed{
    padding: rem(30px) rem(10px);
    line-height: 1.5;
    background-color: $grey;
    @include tablet{
        padding: rem(40px);
        line-height: 2;
    }
    @include desktop{
        padding-left: rem(70px);
    }

    &__title{
        color: $coin;
        font-weight: bold;
        font-size: rem(20px);
        @include tablet{
            font-size: rem(24px);
        }
    }
    &__article{
        color: $coin;
        text-decoration: none;
        :hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__para{
        color: $coin;
        font-size: rem(18px);
        :hover{
            color: $coin;
        }
        @include tablet{
            font-size: rem(20px);
        }
    }
}