@use "../../styles/styles.scss" as *;
@use "../../styles/partials/mixins" as *;

.contact {
  width: 100%;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470);
  background-position: center;
  background-size: cover;
  height: 70vh;

  &__title {
    text-align: center;
    padding-top: rem(45px);
    font-size: rem(24px);
    @include tablet {
      font-size: rem(30px);
      padding-top: rem(50px);
    }
  }

  &__form {
    margin: rem(25px);
    display: flex;
    flex-direction: column;
    @include tablet {
      margin: rem(25px) rem(100px);
    }
    @include desktop {
      margin: rem(25px) rem(85px) rem(75px) rem(100px);
    }
  }
  &__input {
    display: block;
    padding: rem(20px);
    border: rem(10px);
    resize: none;
    background: $grey;
  }
  &__btn {
    margin-top: rem(30px);
    height: rem(50px);
  }
  &__label {
    padding: rem(10px);
    font-size: rem(18px);
  }
}
